<?xml version='1.0' encoding='utf-8'?>
<widget id="com.informatx.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Informatx</name>
    <description>
       Our Investor Connect App keeps your investor up to date with information about changes in your company. Stay up to date with technology in this constantly changing market.
    </description>
    <author email="chris.scrivo@gmail.com" href="http://informatx.com">
        Informatx Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
